.card {
  margin-top: 10px;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.statusGreen {
  color: green;
}

.statusError {
  color: red;
}

.statusStopped {
  color: orange;
}

.status {
  margin-left: 5px;
}

.image {
  width: 100px;
  margin-left: 20px;
}

.tags {
  float: left;
}
